@tailwind;
@tailwind components;
@tailwind utilities;
@layer components {
  * {
    margin: 0;
  }
  ul li {
    list-style: none;
  }
  .searchbox {
    display: flex;
    justify-content: flex-start;
  }
  .side-nav {
    background-color: #19a5c7;
  }
}
